@import url(https://fonts.googleapis.com/css?family=Bitter:400,400italic|Playfair+Display:400italic,700italic|Montserrat:400,700|Lato:300,400);
.screen-reader-text {
  display: none;
}
.h1 {
  font-size: 24px;
  font-family: Lato;
  font-weight: 100;
  letter-spacing: .075em;
  text-transform: uppercase;
  padding-bottom: 2em;
}
.h2 {
  font-size: 24px;
  letter-spacing: .1em;
  font-family: "Playfair Display";
  padding-bottom: 1em;
}
.h2 i {
  font-family: "Playfair Display";
}
.h3 {
  font-size: 20px;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  font-family: Lato;
  font-weight: bold;
  padding-bottom: .5em;
}
.p {
  letter-spacing: 0.1em;
  line-height: 1.5em;
  padding-bottom: 2em;
  font-size: 12.5px;
  color: #595959;
}
a {
  color: #a02289;
}
.background-wrapper {
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .background-desktop {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -800px;
    z-index: 0;
  }
  .divided-50 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAKCAYAAAB10jRKAAAAEElEQVQIW2OMiIz+z0gKAQD2PxR5j/GvogAAAABJRU5ErkJggg==);
    background-repeat: repeat-y;
    background-position: 50% top;
  }
  .divided-50:after,
  .divided-50:before {
    content: '';
    display: block;
    clear: both;
    font-size: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .background-tablet {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -800px;
    z-index: 0;
  }
  .tablet-divided-50 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAKCAYAAAB10jRKAAAAEElEQVQIW2OMiIz+z0gKAQD2PxR5j/GvogAAAABJRU5ErkJggg==);
    background-repeat: repeat-y;
    background-position: 50% top;
  }
  .tablet-divided-50:after,
  .tablet-divided-50:before {
    content: '';
    display: block;
    clear: both;
    font-size: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
.first-cell {
  padding-left: 0;
}
.last-cell {
  padding-right: 0;
}
img.respond {
  max-width: 100%;
  height: auto;
  display: block;
}
body .aligncenter {
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
  clear: both;
  display: block !important;
  float: none !important;
}
body .centertext {
  text-align: center;
}
body .grid-row:after,
body .grid-row:before {
  content: '';
  display: block;
  clear: both;
  font-size: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
body .alignleft {
  text-align: left;
  float: left;
  margin-right: 20px;
}
body .alignright {
  text-align: right;
  float: right;
  margin-left: 20px;
}
.hide {
  display: none;
}
input[type=text],
input[type=email],
input[type=tel],
input[type=search],
textarea,
select {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #fff;
  font-size: 14px;
  padding: 7px;
  outline: none;
  margin-bottom: 17px;
  border: none;
  border: solid 1px #ccc;
  -webkit-border-radius: 0 0 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 0 0;
  -moz-background-clip: padding;
  border-radius: 0 0 0 0;
  background-clip: padding-box;
}
input[type=submit],
input[type=button],
button,
.button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 8px;
  letter-spacing: .2em;
  display: inline-block;
  line-height: 1;
  cursor: pointer;
}
select {
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAGCAYAAAAc2cSCAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wkLECowoDm+3gAAADlJREFUGNNj7Ojo+M9ABKioqGBEF2NioAAwMjAwMBCyHZutcM34DMClEUUzNgPwacQKOjo6/hMbiAD+mBU1+G3n9gAAAABJRU5ErkJggg==) no-repeat 100% center;
  padding: 5px 30px 5px 20px;
  font-size: 14px;
}
.button-wide {
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (max-width: 767px) {
  .button-wide {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.button-green {
  background-color: #88ab3e;
  color: #fff;
}
.button-green:hover {
  background-color: #bad17e;
}
.button-gray {
  background-color: #595959;
  color: #fff;
}
.button-gray:hover {
  background-color: #979797;
}
.button-purple {
  background-color: #742c8a;
  color: #fff;
}
.button-purple:hover {
  background-color: #ac6abc;
}
.button-pink {
  background-color: #a02289;
  color: #fff;
}
.button-pink:hover {
  background-color: #ca5bbb;
}
.button-outline {
  color: #fff;
  border: solid 1px;
}
.button-outline:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.button-outline-green {
  color: #88ab3e;
  border: solid 1px;
}
.button-outline-pink {
  color: #a02289;
  border: solid 1px;
}
.button-outline-purple {
  color: #742c8a;
  border: solid 1px;
}
.screen-reader-text {
  display: none;
}
