@import url(https://fonts.googleapis.com/css?family=Bitter:400,400italic|Playfair+Display:400italic,700italic|Montserrat:400,700|Lato:300,400);
body {
  font: 12px Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
  width: 100%;
}
body #page {
  overflow: hidden;
}
#header #IMAGE {
  padding-top: 4px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  text-align: center;
  pointer-events: none;
}
#header #IMAGE a {
  pointer-events: all;
}
#header #IMAGE span {
  display: none;
}
#topNav {
  z-index: 200;
  position: relative;
}
#masthead {
  position: relative;
  z-index: 100;
  background: #fff;
  font-family: Lato, sans-serif;
  padding-left: 2000px;
  padding-right: 2000px;
  margin-left: -2000px;
  margin-right: -2000px;
  padding-top: 300px;
  margin-top: -300px;
  -webkit-box-shadow: 0 2px 5px rgba(113, 113, 113, 0.75);
  -moz-box-shadow: 0 2px 5px rgba(113, 113, 113, 0.75);
  box-shadow: 0 2px 5px rgba(113, 113, 113, 0.75);
}
#masthead .version_1 .site-title {
  padding-top: 4px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  pointer-events: none;
}
#masthead .version_1 .site-title a {
  pointer-events: all;
}
#masthead .version_1 .site-title span {
  display: none;
}
#masthead .version_2 .site-title {
  max-width: 1100px;
  margin: 0 auto;
}
#masthead .version_2 .site-title a {
  display: block;
  float: left;
  pointer-events: all;
  position: relative;
  z-index: 100;
  margin-top: 33px;
}
#masthead .version_2 .site-title span {
  display: none;
}
#masthead .search-link {
  position: absolute;
  z-index: 1000;
  display: block;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .2em;
  padding-top: 18px;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}
#masthead .search-link:before {
  padding-right: 5px;
}
#masthead .version_1 .search-link {
  top: 100%;
  left: 10px;
  text-shadow: 1px -1px 3px rgba(125, 125, 125, 0.75);
}
#masthead .version_2 .search-link {
  right: 0;
}
@media screen and (max-width: 1023px) {
  #masthead .version_2 .search-link {
    top: 100%;
    text-shadow: 1px -1px 3px rgba(125, 125, 125, 0.75);
    right: auto;
    left: 10px;
  }
}
#masthead .search-wrapper {
  display: none;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.85);
}
#masthead .search-wrapper:before {
  content: '\f00d';
  font-family: FontAwesome;
  font-weight: bold;
  position: absolute;
  right: 10%;
  top: 10%;
  text-align: right;
  font-size: 80px;
  display: block;
  color: #fff;
  text-shadow: 1px -1px 5px rgba(125, 125, 125, 0.75);
}
#masthead .search-wrapper .search-form {
  top: 25%;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
}
#masthead .search-wrapper .search-form label {
  width: 80%;
}
#masthead .search-wrapper .search-form input[type=search] {
  font-size: 30px;
  width: 100%;
}
#masthead .search-wrapper .search-form button {
  font-size: 31px;
}
#masthead .search-wrapper .search-form label,
#masthead .search-wrapper .search-form button {
  display: inline-block;
}
#masthead .search-wrapper .search-form input,
#masthead .search-wrapper .search-form button {
  -webkit-box-shadow: 1px -1px 5px rgba(125, 125, 125, 0.75);
  -moz-box-shadow: 1px -1px 5px rgba(125, 125, 125, 0.75);
  box-shadow: 1px -1px 5px rgba(125, 125, 125, 0.75);
  height: 50px;
}
#masthead .grid-container {
  position: relative;
}
#masthead #social-links {
  position: absolute;
  right: 10px;
  top: 100%;
  font-size: 16px;
  padding-top: 17px;
  z-index: 1000;
}
#masthead #social-links .fa {
  text-decoration: none;
  color: #fff;
}
#masthead #social-links .fa:before {
  height: 33px;
  width: 33px;
  line-height: 33px;
  text-align: center;
  border: solid 1px;
  display: block;
  margin-left: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 100% 100% 100% 100%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100% 100% 100% 100%;
  -moz-background-clip: padding;
  border-radius: 100% 100% 100% 100%;
  background-clip: padding-box;
}
#masthead #social-links .fa span {
  display: none;
}
#primary-navigation {
  padding: 0;
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  #primary-navigation .nav-menu-left {
    padding-right: 75px;
  }
  #primary-navigation .nav-menu-right {
    padding-left: 75px;
  }
}
#primary-navigation .nav-menu-left,
#primary-navigation .nav-menu-right,
#primary-navigation .nav-menu-main {
  float: left;
  overflow: hidden;
  white-space: nowrap;
}
#primary-navigation .nav-menu-left > li,
#primary-navigation .nav-menu-right > li,
#primary-navigation .nav-menu-main > li {
  display: inline-block;
  margin: 0 8px;
}
#primary-navigation .nav-menu-left > li a,
#primary-navigation .nav-menu-right > li a,
#primary-navigation .nav-menu-main > li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #404040;
  padding: 20px 0;
  border-bottom: solid 5px #fff;
  display: block;
}
#primary-navigation .nav-menu-left > li a:hover,
#primary-navigation .nav-menu-right > li a:hover,
#primary-navigation .nav-menu-main > li a:hover {
  color: #a02289;
  border-bottom-color: #a02289;
}
@media screen and (min-width: 768px) {
  #primary-navigation .nav-menu-left .sub-menu,
  #primary-navigation .nav-menu-right .sub-menu,
  #primary-navigation .nav-menu-main .sub-menu {
    display: none;
    position: absolute;
    z-index: 9999;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    margin-left: -50px;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  }
  #primary-navigation .nav-menu-left .sub-menu > li a,
  #primary-navigation .nav-menu-right .sub-menu > li a,
  #primary-navigation .nav-menu-main .sub-menu > li a {
    border-bottom: none;
    padding: 10px 30px;
  }
  #primary-navigation .nav-menu-left .sub-menu > li a:hover,
  #primary-navigation .nav-menu-right .sub-menu > li a:hover,
  #primary-navigation .nav-menu-main .sub-menu > li a:hover {
    background: #a02289;
    color: #fff;
  }
  #primary-navigation .nav-menu-left .menu-item-has-children:hover .sub-menu,
  #primary-navigation .nav-menu-right .menu-item-has-children:hover .sub-menu,
  #primary-navigation .nav-menu-main .menu-item-has-children:hover .sub-menu {
    display: block;
  }
}
#primary-navigation .nav-menu-left .button,
#primary-navigation .nav-menu-right .button,
#primary-navigation .nav-menu-main .button {
  border-color: #88ab3e;
  margin-top: 10px;
  padding: 0;
}
#primary-navigation .nav-menu-left .button a,
#primary-navigation .nav-menu-right .button a,
#primary-navigation .nav-menu-main .button a {
  color: #88ab3e;
  border: solid 1px;
  padding: 10px 15px;
  text-align: left;
}
#primary-navigation .nav-menu-left .button a small,
#primary-navigation .nav-menu-right .button a small,
#primary-navigation .nav-menu-main .button a small {
  font-size: 10px;
}
#primary-navigation .nav-menu-left .button a:hover,
#primary-navigation .nav-menu-right .button a:hover,
#primary-navigation .nav-menu-main .button a:hover {
  color: #fff;
  background-color: #88ab3e;
  border-bottom-color: #fff;
}
#primary-navigation .nav-menu-left {
  width: 50%;
  padding-right: 85px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
}
#primary-navigation .nav-menu-right {
  width: 50%;
  padding-left: 85px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
}
#primary-navigation .nav-menu-main {
  float: right;
}
#primary-navigation .nav-menu-main > li {
  font-size: 14px;
}
#primary-navigation .nav-menu-main > li a {
  padding: 80px 0 20px 0;
}
#primary-navigation .menu-toggle {
  display: none;
}
@media screen and (max-width: 1023px) {
  #masthead .version_1 .site-title,
  #masthead .version_2 .site-title {
    position: static;
    text-align: left;
    padding-top: 0;
  }
  #masthead .version_1 .site-title img,
  #masthead .version_2 .site-title img {
    height: 50px;
    width: auto;
    vertical-align: top;
  }
  #masthead .version_1 .site-title span,
  #masthead .version_2 .site-title span {
    text-decoration: none;
    display: inline-block;
    line-height: 50px;
    height: 50px;
    padding-left: 10px;
    font-size: 14px;
    color: #58595b;
    text-transform: uppercase;
    letter-spacing: .2em;
  }
  #masthead .version_1 .site-title a,
  #masthead .version_2 .site-title a {
    margin-top: 0;
  }
  #primary-navigation .menu-toggle {
    display: block;
    position: absolute;
    right: 10px;
    text-indent: -10000px;
    font-size: 0;
    height: 31px;
    width: 35px;
    background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAYAAAALpr0TAAAAJklEQVQYV2NkIBIwEqmOgXiFJTpd/4kxlZH6ComxFqSGeM8QayIAJj4GhVUNvrEAAAAASUVORK5CYII=) repeat 0 2px;
  }
  #primary-navigation #mobile-side-nav {
    position: absolute;
    right: -100%;
    left: 100%;
    -webkit-transition: right 0.5s ease, left 0.5s ease;
    -moz-transition: right 0.5s ease, left 0.5s ease;
    -o-transition: right 0.5s ease, left 0.5s ease;
    transition: right 0.5s ease, left 0.5s ease;
    background: rgba(255, 255, 255, 0.95);
    padding-bottom: 20px;
    z-index: 10000;
  }
  #primary-navigation .nav-menu-left,
  #primary-navigation .nav-menu-right,
  #primary-navigation .nav-menu-main {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    float: none;
    text-align: right;
  }
  #primary-navigation .nav-menu-left li,
  #primary-navigation .nav-menu-right li,
  #primary-navigation .nav-menu-main li {
    display: block;
  }
  #primary-navigation .nav-menu-left li a,
  #primary-navigation .nav-menu-right li a,
  #primary-navigation .nav-menu-main li a {
    font-size: 20px;
    border-bottom-width: 2px;
  }
  .version_1 #primary-navigation .menu-toggle {
    top: -40px;
  }
  .version_2 #primary-navigation .menu-toggle {
    top: 10px;
  }
  .mobile-menu-shown #primary-navigation #mobile-side-nav {
    right: 0;
    left: 0;
  }
}
@media screen and (max-width: 359px) {
  #masthead .site-title span {
    font-size: 14px;
  }
}
#colophon {
  margin-left: -2000px;
  margin-right: -2000px;
  padding-left: 2000px;
  padding-right: 2000px;
  background: #ffffff url(https://3f64ac548344ca138462-accb402ab93d7141d8a23067c0255511.ssl.cf5.rackcdn.com/footer-bg.jpg) no-repeat center center;
  padding-top: 50px;
  position: relative;
  z-index: 10001;
}
#colophon .site-info {
  background: #fff;
  text-align: center;
  color: #404040;
  font-size: 10px;
  font-style: italic;
  font-family: Bitter;
  padding: 10px 0;
  letter-spacing: .2em;
  margin-top: 45px;
  padding-left: 2000px;
  padding-right: 2000px;
  margin-left: -2000px;
  margin-right: -2000px;
}
#colophon a {
  color: #404040;
  text-decoration: none;
}
#colophon a:hover {
  color: #a02289;
}
#colophon .ipso {
  color: #888888;
  text-transform: uppercase;
  vertical-align: middle;
}
#colophon .ipso img {
  vertical-align: middle;
}
#colophon .menu > li {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  font-family: Lato;
  line-height: 18px;
  letter-spacing: .2em;
}
#colophon .menu > li li {
  text-transform: none;
  padding-left: 15px;
  font-family: Bitter;
  font-size: 11px;
  font-style: italic;
  font-weight: normal;
}
#colophon .fa {
  border: solid 1px #404040;
  -webkit-border-radius: 100% 100% 100% 100%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100% 100% 100% 100%;
  -moz-background-clip: padding;
  border-radius: 100% 100% 100% 100%;
  background-clip: padding-box;
  height: 29px;
  width: 29px;
  line-height: 29px;
  text-align: center;
  font-size: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 4px;
  margin-right: 4px;
}
.screen-reader-text {
  display: none;
}
select {
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAGCAYAAAAc2cSCAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wkLECowoDm+3gAAADlJREFUGNNj7Ojo+M9ABKioqGBEF2NioAAwMjAwMBCyHZutcM34DMClEUUzNgPwacQKOjo6/hMbiAD+mBU1+G3n9gAAAABJRU5ErkJggg==) no-repeat 100% center;
  padding: 5px 30px 5px 20px;
  font-size: 14px;
}
input[type=text],
input[type=email],
input[type=tel],
input[type=search],
textarea,
select {
  border: solid 1px #ccc;
  -webkit-border-radius: 0 0 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 0 0;
  -moz-background-clip: padding;
  border-radius: 0 0 0 0;
  background-clip: padding-box;
}
